.contato {
  margin-top: 40px;
  margin-bottom: 40px;
}

.contato h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.contato div {
  grid-column: 2;
}

.contato li {
  font: 400 1rem/1.2 Helvetica, Arial;
  margin-bottom: 16px;
  position: relative;
  display: flex;
  align-items: center;
}

.contato li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  background: #feb85c;
  margin-right: 8px;
}

@media (max-width: 700px) {
  .contato div,
  .contato ul {
    grid-column: 1/-1;
  }
}

.js .contato [data-semana]::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: red;
  margin-left: 4px;
  border: 2px solid #000;
}

.js .contato [data-semana].aberto::after {
  background: #3f4;
}

.btc {
  background: #3f4;
  padding: 4px 8px;
  margin: 0 4px;
  font-weight: bold;
  border-radius: 2px;
}
