.numeros {
  margin: 120px 0;
}
.numeros ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
}

.numeros h3 {
  font-family: "Playfair Display SC";
  font-size: 2rem;
  margin-bottom: 8px;
}

.numeros span {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 1.5rem;
  color: #e54;
}

@media (max-width: 700px) {
  .numeros h3 {
    font-size: 1.5rem;
  }

  .numeros span {
    font-size: 1rem;
  }
}
